/*------------------- 顏色樣式 -------------------*/

$primary: #0F5C9E;
$secondary: #BEE1FF;
$emphasize: #F28121;
$auxiliary-dark: #084477;
$auxiliary-light:#BEE1FF;
$enabled: rgba(0, 0, 0, .5);
$background-color: #F6FBFF;
$talk-block: #5B8BBA;


/*------------------- 網頁共用樣式 -------------------*/

a {
    text-decoration: none;
}


.text-inactive {
    color: $enabled;
}