/*------------------- footer 樣式 -------------------*/

.footer {
    padding: 4.5rem 0;

    /*----------- 標題 -----------*/

    &__title {
        font-size: 3rem;
    }

    /*----------- 副標題 -----------*/

    &__subTitle {
        font-size: 1.5rem;
    }

    /*----------- 提示文字 -----------*/

    &__point {
        font-size: 1rem;
        font-weight: bold;
    }

    /*----------- icon 連結 -----------*/

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        color: $primary;
    }

    &__iconLink {
        padding: .5rem;
        border-radius: .5rem;
        transition: all .3s;

        &:hover {
            transform: translateY(-.5rem);
            box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
        }

        &:active {
            transform: translateY(-.3rem);
        }
    }

    /*----------- 文字連結 -----------*/

    &__link {
        color: #fff;
        transition: all .3s;
        border-bottom: 1px solid transparent;

        &:hover {
            color: $secondary;
            border-bottom: 1px solid $secondary;
        }
    }
}