/*------------------- 登入註冊內容 -------------------*/

.signForm {
    margin-top: 7rem;
    padding: 5rem 0;

    /*----------- 圖片背景 -----------*/

    &__background {
        position: relative;
        background-image: url('../images/online-education.svg');
        background-repeat: no-repeat;
        background-position: 90% center;
        background-size: 50%;
        transition: all .3s;

        /*----------- 淺藍背景 -----------*/

        &::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 100%;
            background-color: $background-color;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }

    /*----------- 登入註冊標題 -----------*/

    &__title {
        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 10rem;
            height: 1px;
            background-color: $enabled;
            top: 50%;
        }

        &::after {
            left: 0;
        }

        &::before {
            right: 0;
        }
    }

    /*----------- 顯示狀態 -----------*/

    &__state {
        position: relative;
        padding-bottom: .75rem;
    }

    &__enableLine {
        transition: all .3s;
        position: absolute;
        width: 4rem;
        height: .25rem;
        background-color: $primary;
        top: 3.4rem;

        &--register {
            transform: translateX(7.85rem);
        }

        &--login {
            transform: translateX(-8rem);
        }
    }

    /*----------- 圖片文字框 -----------*/

    &__alert {
        position: absolute;
        display: block;
        padding: 1rem 3rem;
        background-color: $talk-block;
        border-radius: 2rem;
    }

    /*----------- 文字框位置 -----------*/

    &__alertTopLeft {
        top: 8%;
        left: 33%;
    }

    &__alertTopRight {
        top: 17%;
        right: -23%;
    }

    &__alertBottomLeft {
        bottom: 8%;
        left: 14%;
    }

    &__alertBottomRight {
        bottom: -5%;
        right: -7%;
    }
}

/*------------------- 表單樣式 -------------------*/

.signFormContent {
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    background-color: #fff;
}

/*------------------- 登入表單樣式 -------------------*/

.loginForm {
    padding-bottom: 86px;
    display: none;
}

/*------------------- 登入註冊內容(平板) -------------------*/

@media(max-width: 1450px) {

    .signForm {
        margin-top: 6rem;
        padding: 6rem 0;

        /*----------- 圖片背景設定 -----------*/

        &__background {
            background-image: none;

            &::after {
                width: 50%;
            }
        }

        /*----------- 顯示狀態 -----------*/

        &__enableLine {

            &--register {
                transform: translateX(13.55rem);
            }

            &--login {
                transform: translateX(-13.55rem);
            }
        }

    }

    /*----------- 表單樣式 -----------*/

    .signFormContent {
        padding: 2.5rem 2.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    }

    /*----------- 登入表單樣式 -----------*/

    .loginForm {
        padding-bottom: 0;
    }
}

@media(max-width: 1200px) {
    .signForm {

        /*----------- 顯示狀態 -----------*/

        &__enableLine {

            &--register {
                transform: translateX(11.4rem);
            }

            &--login {
                transform: translateX(-11.4rem);
            }
        }

    }
}

@media(max-width: 992px) {
    .signForm {

        /*----------- 顯示狀態 -----------*/

        &__enableLine {

            &--register {
                transform: translateX(8.2rem);
            }

            &--login {
                transform: translateX(-8.05rem);
            }
        }

    }
}

/*------------------- 登入註冊內容(手機) -------------------*/

@media(max-width: 576px) {
    .signForm {

        /*----------- 顯示狀態 -----------*/

        &__enableLine {

            &--register {
                transform: translateX(7.25rem);
            }

            &--login {
                transform: translateX(-7.25rem);
            }
        }

    }
}