/*------------------- 登入註冊內容 -------------------*/

.signForm {
    padding: 5rem 0 7rem 0;

    /*----------- 淺藍背景 -----------*/

    &__background {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 100%;
            background-color: $background-color;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }

    /*----------- 登入註冊標題 -----------*/

    &__title {
        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 10rem;
            height: 1px;
            background-color: $enabled;
            top: 50%;
        }

        &::after {
            left: 0;
        }

        &::before {
            right: 0;
        }
    }

    /*----------- 顯示狀態 -----------*/

    &__state {
        position: relative;
        padding-bottom: .75rem;
    }

    &__enableLine {
        transition: all .3s;
        position: absolute;
        width: 4rem;
        height: .25rem;
        background-color: $primary;
        top: 3.4rem;

        &--register {
            right: 6.2rem;
        }

        &--login {
            right: 22.7rem;
        }
    }

    /*----------- 圖片文字框 -----------*/

    &__alert {
        position: absolute;
        display: block;
        padding: 1rem 3rem;
        background-color: $talk-block;
        border-radius: 2rem;
    }

    /*----------- 文字框位置 -----------*/

    &__alertTopLeft {
        top: 8%;
        left: 33%;
    }

    &__alertTopRight {
        top: 17%;
        right: -23%;
    }

    &__alertBottomLeft {
        bottom: 8%;
        left: 14%;
    }

    &__alertBottomRight {
        bottom: -5%;
        right: -7%;
    }
}