/*------------------- 購物車元件 -------------------*/

.cartIcon {
    position: relative;

    &:active {
        color: $secondary;
    }

    /*----------- 目前購物車數量 -----------*/

    &__alert {
        width: 1rem;
        height: 1rem;
        background-color: $emphasize;
        color: #fff;
        border-radius: 50%;
        font-size: .5rem;
        position: absolute;
        top: 1.1rem;
        right: 0.9rem;
    }
}

/*------------------- 購物車元件(平板) -------------------*/

@media(max-width: 1451px) {

    .cartIcon {

        &__alert {
            top: .1rem;
            right: -.1rem;
        }
    }
}


/*------------------- 購物車元件(手機) -------------------*/

@media(max-width: 576px) {

    /*----------- 元件縮小 -----------*/

    .cartIcon {
        transform: scale(.8);
    }
}