/*------------------- 購物車元件 -------------------*/

.cart {
    position: relative;

    &__alert {
        width: 1rem;
        height: 1rem;
        background-color: $emphasize;
        color: #fff;
        border-radius: 50%;
        font-size: .5rem;
        position: absolute;
        top: -.2rem;
        right: -.5rem;
    }
}