/*------------------- 導覽列下拉選單箭頭 -------------------*/

.dropdown {
    position: relative;

    /*----------- 下拉選單箭頭 -----------*/

    &__arrow {
        color: $auxiliary-light;
        transition: all .3s;

        /*----------- 下拉選單箭頭動畫 -----------*/

        &--change {
            transform: rotate(180deg);
        }
    }
}