/*------------------- 自訂下拉子選單樣式 -------------------*/

.dropdown {

    /*----------- 下拉選單 -----------*/

    &__menu {
        position: absolute;
        border-radius: .5rem;
        padding: 1.5rem;
        overflow: hidden;
        border: none;
        top: 8rem !important;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);

        &SingleCol {
            left: -1.7rem !important;
        }

        &PluralCol {
            left: -15rem !important;
        }
    }

    /*----------- 下拉選單連結 -----------*/

    &__item {
        padding: 1rem 1.5rem;
    }

    &__itemHover {
        color: $primary;

        &:hover {
            background-color: $primary;
            color: #fff;
        }
    }

    /*----------- 下拉選單副標題 -----------*/

    &__subTitle {
        background-color: $secondary;
    }
}

/*------------------- 下拉子選單樣式(平板) -------------------*/

@media(max-width: 1450px) {

    .dropdown {

        /*----------- 下拉選單 -----------*/

        &__menu {
            box-shadow: none;
            border-radius: 0;
        }

        /*----------- 下拉選單連結 -----------*/

        &__item {
            padding: 1rem 2.5rem;
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            &:last-child {
                border-bottom: none;
            }

        }

        &__link {

            &--change {
                background-color: $secondary;
            }
        }
    }

    .subDropdown__menu {
        width: 25%;
    }
}

/*------------------- 下拉子選單樣式(手機) -------------------*/

@media(max-width: 768px) {

    .subDropdown__menu {
        width: 100%;
    }
}