/*------------------- 漢堡選單元件 -------------------*/

.navbar {

    &__hamburger {

        &Icon {
            width: 100%;
            height: .2rem;
            background-color: $primary;
            position: relative;
            transition: all .3s;

            &::after,
            &::before {
                content: '';
                transition: all .3s;
                position: absolute;
                width: 100%;
                height: .2rem;
                background-color: $primary;
            }

            &::after {
                left: 0;
                top: -.6rem;
            }

            &::before {
                left: 0;
                bottom: -.6rem;
            }

            &--active {

                &::after {
                    content: '';
                    transform: rotate(45deg);
                }

                &::before {
                    content: '';
                    transform: rotate(-45deg);
                }
            }
        }
    }
}