/*------------------- 漢堡選單元件 -------------------*/

.navbar {
    background-color: #fff;

    /*----------- 按鈕外層設定 -----------*/

    &__hamburger {
        display: flex;
        width: 4rem;
        height: 3rem;
        align-items: center;
        position: relative;
        z-index: 9;
        background-color: #fff;
        border: none;
        outline: none;
    }

    /*----------- 漢堡選單元件設定 -----------*/

    &__hamburgerIcon {
        display: none;
        position: relative;
        width: 100%;
        height: .3rem;
        background-color: $primary;
        border-radius: .25rem;
        transition: all .3s;

        &::after,
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: .3rem;
            background-color: $primary;
            border-radius: .25rem;
            transition: all .3s;
        }

        &::after {
            transform: translateY(.8rem);
        }

        &::before {
            transform: translateY(-.8rem);
        }

        &--change {
            background-color: transparent;

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }
    }
}

/*------------------- 漢堡選單元件(平板) -------------------*/

@media(max-width: 1450px) {
    .navbar {

        &__hamburgerIcon {
            display: block;
        }
    }
}