/*------------------- 手機版巢狀下拉子選單樣式 -------------------*/

.mobileDropdown {

    /*----------- 選單樣式 -----------*/

    &__hover {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        color: #fff !important;
        background-color: $primary;

        &:hover {
            background-color: $auxiliary-dark;
        }
    }

    /*----------- 箭頭樣式 -----------*/

    &__arrow {
        color: #fff;
    }

    /*----------- 下層選單樣式 -----------*/

    &__item {
        background-color: $auxiliary-dark;
        padding: 0.5rem 4.5rem;

        &:hover {
            background-color: #062036 !important;
        }
    }
}