/*------------------- 手機版巢狀下拉子選單樣式 -------------------*/

.mobileDropdown {

    /*----------- 箭頭樣式 -----------*/

    &__arrow {
        color: #fff;
    }

    /*----------- 下層選單樣式 -----------*/

    &__item {
        padding: .5rem 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        color: #fff !important;
        background-color: $primary;

        &:hover {
            background-color: $auxiliary-dark;
        }
    }

    &__subItem {
        background-color: #0b2f50;
        padding: 0.5rem 4.5rem;

        &:hover {
            background-color: #00182c !important;
        }
    }

    &__link {

        &--change {
            background-color: $auxiliary-dark;
        }
    }
}