/*------------------- 自訂主導覽列元件 -------------------*/

.nav {

    /*----------- 電腦版 hover 效果 -----------*/

    &__hover {
        border-bottom: .5rem solid transparent;

        &:hover {
            border-bottom: .5rem solid $primary;
        }
    }

    /*----------- 電腦版 click 效果 -----------*/

    &--click {

        border-bottom: .5rem solid $primary;
    }

    /*----------- 修改 nav-link 樣式 -----------*/

    &-link {
        color: $primary !important;
    }
}

/*------------------- 主導覽列元件(平板) -------------------*/

@media(max-width: 1451px) {
    .nav {

        /*----------- 取消電腦版 hover 效果 + 新增 mobile 樣式 -----------*/

        &__hover {
            border-bottom: none;

            &:hover {
                border-bottom: none;
                background-color: $primary;
            }

        }

        &--click {
            border-bottom: none;
        }

        /*----------- 修改 nav-link 樣式 -----------*/

        &-link {

            &:hover {
                color: #fff !important;
            }
        }

        &-item {
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            &:last-child {
                border: none;
            }
        }
    }
}

/*------------------- 導覽列 logo(手機) -------------------*/

@media(max-width: 576px) {

    /*----------- 元件縮小 -----------*/

    .logo {
        &__mobile {
            transform: scale(.8);
        }
    }
}