/*------------------- 自訂導覽列元件 -------------------*/

.nav {

    &__hover {
        border-bottom: .5rem solid transparent;

        &:hover {
            border-bottom: .5rem solid $primary;
        }
    }
}

.navbar {

    &__btn {
        display: flex;
        width: 3rem;
        height: 3rem;
        align-items: center;
        position: relative;
        z-index: 9;
        background-color: #fff;
        border: none;
        outline: none;

    }
}